.ban {
    width: 100%;
    background-image: url(./Images/banner.png);
    height: 1000px;
}

.mob {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    bottom: 950px;
    margin-left: 300px;
}

.ques {
    font-size: large;
    font-weight: bold;
    position: relative;
    bottom: 990px;
    margin-left: 1500px;
}

.ion {
    color: white;
    text-decoration: none;
}

.down {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    bottom: 800px;
    margin-left: 300px;
}

.in {
    font-size: 50px;
}

.app {
    color: white;
    font-size: medium;
    font-weight: bold;
    position: relative;
    bottom: 750px;
    margin-left: 300px;
}

.load {
    color: white;
    background-color: black;
    width: 150px;
    font-size: large;
    position: relative;
    bottom: 700px;
    margin-left: 290px;
    border-radius: 25px;
    height: 40px;
}

.load:hover {
    background-color: gray;
    color: black;
}

.iph {
    position: relative;
    bottom: 1200px;
    margin-left: 1400px;
}

.quality {
    background-color: black;
    width: 100%;
    position: relative;
    bottom: 800px;
    height: 800px;
} 

.img {
    position: relative;
    top: 100px;
    margin-left: 500px;
}

.che {
    background-color: rgb(214, 212, 212);
    width: 380px;
    height: 150px;
    text-align: center;
    position: relative;
    bottom: 200px;
    margin-left: 1000px;
}

@-webkit-keyframes rotateInUpLeft {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 0
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes rotateInUpLeft {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 0
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

.mob:hover {
    -webkit-animation-name: rotateInUpLeft;
    animation-name: rotateInUpLeft;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom
}

.for {
    background-color: rgb(245, 241, 241);
    position: relative;
    bottom: 900px;
}

.card-group {
    width: 90% !important;
    position: relative !important;
    top: 10px !important;
}

.three {
    background-color: rgb(37, 37, 37) !important;
    color: #fff;
    border-radius: 10px;
    margin-left: 200px;
}

.three:hover {
    background-color: black !important;
}

.cist {
    color: gray;
    font-size: 60px;
}

.use {
    font-size: large;
}

.card-img-top {
    position: relative;
    top: 8px;
}

.two {
    background-color: #fff !important;
    border-color: black !important;
    color: #000 !important;
    width: 600px !important;
}

.row {
    position: relative !important;
    bottom: 800px !important;
    margin-left: 600px;
}

.fre {
    font-size: xx-large;
    position: relative;
    bottom: 850px;
    margin-left: 730px;
}

.fr {
    text-decoration: none;
    color: gray;
}

.g-3 {
    background-color: #000 !important;
    margin: 10px;
    color: #fff;
    height: 400px;
    margin-top: 10px;
    width: 100%;
}
.box {
        background-color: #fa7528;
        height: 50px;
        text-align: center;
}

.co {
    font-family: bold;
    color: white;
}

.bo {
    font-family: bold;
    color: white;
}

.bo:hover {
    color: black;
}

.co {
    position: relative;
    top: 15px;
}